body {
  background-image: linear-gradient(150deg, green 15%, lightgreen 80%);
  color: white;
  min-height: 100vh;
}

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 5%;
  font-size: 38px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: underline solid rgb(68, 68, 68);
  font-style: oblique;
  font-variant: normal;
  text-transform: none;
}
.complete-btn {
  box-shadow: inset 0px 1px 0px 0px #caefab;
  background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color: #77d42a;
  border-radius: 6px;
  border: 1px solid #268a16;
  display: inline-block;
  cursor: pointer;
  color: #306108;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #aade7c;
}
.complete-btn:hover {
  background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  background-color: #5cb811;
}
.trash-btn {
  box-shadow: inset 0px 1px 0px 0px #ff4400;
  background: linear-gradient(to bottom, #d46e2a 5%, #ed1313 100%);
  background-color: #d46e2a;
  border-radius: 6px;
  border: 1px solid #8a3516;
  display: inline-block;
  cursor: pointer;
  color: #612809;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #de967c;
}

.trash-btn:hover {
  background: linear-gradient(to bottom, #ed1313 5%, #d46e2a 100%);
  background-color: #ed1313;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-item {
  flex: 1;
  max-width: 50%;
  font-size: 25px;
  margin-bottom: 5px;
  margin-left: 23%;
  list-style-type: none;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.todo-item:hover {
  overflow: visible;
  white-space: normal;
  overflow-wrap: break-word;
  height: auto; /* just added this line */
}
.buttons {
  flex: 1;
  margin-right: 22%;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.addButton {
  box-shadow: inset 0px 1px 3px 0px #38a31a;
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: forestgreen;
  border-radius: 5px;
  border: 1px solid #10e025;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #2f6627;
}
.addButton:hover {
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color: #5cbf2a;
}

.inputAddButton {
  display: flex;
}
.select {
  display: flex;
}
.completed {
  text-decoration: line-through;
  margin-left: 23%;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

form input {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
select {
  padding: 0.5rem;
  color: black;
  cursor: pointer;
  width: 12rem;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
/* Arrow */
.select::after {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  pointer-events: none;
}
